@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  font-size: 14px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

code {
  background-color: #1a1a1a;
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 4px;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  code {
    background-color: #f9f9f9;
  }
}

/**
* 设置默认滚动条样式
*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* ::-webkit-scrollbar-track { */
/* background-color: #f5f5f5; */
/* } */
/* ::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
  border-radius: 6px;
} */
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 12px;
}
/* ::-webkit-scrollbar-corner {
  background-color: #f5f5f5;
} */
/* ::-webkit-resizer {
  background-repeat: no-repeat;
  background-position: bottom right;
} */

.scrollbar-custom {
  overflow-y: scroll;
}
.scrollbar-custom::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 12px;
}

.scrollbar-none {
  overflow-y: scroll;
}
.scrollbar-none::-webkit-scrollbar {
  width: 0px;
  opacity: 0;
  display: none;
  width: 0;
  height: 0;
  color: transparent !important;
}

#headlessui-portal-root {
  position: relative;
  z-index: 1100;
}

.bg-util-colors-blue-brand-blue-brand-500 {
  background-color: #296dff;
}

.bg-util-colors-indigo-indigo-500 {
  background-color: #2e90fa;
}

.bg-util-colors-blue-blue-500 {
  background-color: #2e90fa;
}

.bg-util-colors-warning-warning-500 {
  background-color: #f79009;
}

.bg-util-colors-cyan-cyan-500 {
  background-color: #06aed4;
}

.bg-util-colors-green-green-500 {
  background-color: #17b26a;
}

.bg-util-colors-violet-violet-500 {
  background-color: #875bf7;
}

.bg-background-default {
  background-color: #ffffff;
}

.text-text-success {
  color: #079455;
}

.text-text-secondary {
  color: #354052;
}

.text-text-primary {
  color: #101828;
}

.text-text-tertiary {
  color: #676f83;
}

.text-text-quaternary {
  color: #1018284d;
}
.text-text-destructive {
  color: #d92d20;
}
.text-text-warning {
  color: #dc6803;
}
.text-text-destructive-secondary {
  color: #f04438;
}
.text-text-success-secondary {
  color: #17b26a;
}
.text-text-warning-secondary {
  color: #f79009;
}
.text-text-accent {
  color: #155aef;
}
.text-text-primary-on-surface {
  color: #ffffff;
}
.text-text-placeholder {
  color: #98a2b2;
}
.text-text-disabled {
  color: #d0d5dc;
}
.text-text-accent-secondary {
  color: #296dff;
}
.text-text-accent-light-mode-only {
  color: #155aef;
}
.text-text-text-selected {
  color: #155aef24;
}
.text-text-secondary-on-surface {
  color: #ffffffe5;
}
.text-text-logo-text {
  color: #18222f;
}
.text-text-empty-state-icon {
  color: #d0d5dc;
}
.text-text-inverted {
  color: #000000;
}
.text-text-inverted-dimmed {
  color: #000000f2;
}

.bg-components-panel-bg-blur {
  background-color: #fffffff2;
}

.border-components-panel-border {
  border-color: #10182814;
}

.file-button {
  background-color: #155aef;
  font-size: 12px;
  padding: 0 8px;
  border-radius: 6px;
  color: #ffffff;
  height: 100%;
}

.file-button[disabled] {
  background-color: #155aef24;
  color: #ffffff99;
}

.bg-text-accent-secondary {
  background-color: #296dff;
}

.bg-components-button-primary-bg {
  background-color: #155aef;
}

.system-xs-semibold-uppercase {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.system-2xs-medium-uppercase {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
}
